body{
    /*background:url("/images/fondo.jpg");*/
}

.logo{
    margin-top:2%;
    margin-left:1%;
}

#pie{
    text-align:center;   
    margin-bottom:2%;
    margin-top:10%;
}
#ui-id-17, #ui-13{

    height:auto;
}

.ui-accordion .ui-accordion-content{
    padding:2.2em 2.2em;
}

.ui-accordion-header{
    height:20%;
}

#sidebar, #seccion-C{
     top:70px;     
     border-width:2px;
     border-style: solid;
     
     -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
     border-radius: 9px;
     height:300;
     background:#ffe;
     box-shadow: 6px 4px 6px 4px #3a5794;
     border-color:gba(180, 180, 144, 0.5);
}

#sidebar{
    /*margin-right:20%; */
    right:2.5%;
    color:#3a5795;
    height:auto;
}

#seccion-C{
    height:auto;
    left:2.5%;
}

#tabs{
  height:auto;
}

#seccion-B{
    margin-top:6%;
    width:50%;
    height:300px;
}

.ui-widget-header {
   /* background-color:white; */

   background:#3a5795;
}

.container {
    padding-top:2%;

}

.navbar-inverse{
    background-color:#3a5795;
    height:11%;
    min-width:40%;
}

.ui-menu { 
    width: 12%;
 }

#dir, #fox, #chrome, #menu { 
    width: 20%; 
    padding-right: 3px;
 }

 #menu{
    background:#BEBE0A;
}

/*  seleccionar un elemento individualmente en una lista*/
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: blue; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 20%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

/* */
